
<h2></h2>
<div class="container">
   <div class="row">
          <div class="col-lg-12">
            <h2></h2>
            <div class="bs-example">
              <div class="alert alert-dismissable alert-warning">
                <h4>@ViewBag.EmailResult</h4>

                <p>We will get back to you in minimum one business day. <a href="/home/Index/" class="alert-link">Back to Home Page</a>.</p>
              </div>
            </div>
          </div>
        </div>
    </div>