@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

<div class="bs-docs-section">
<div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="container">
                View Cart
              </h1>
            </div>
            <div class="bs-example">
              <div class="jumbotron">
                <h1>Review Your Order</h1>
                <p>If your order is correct and you wish to proceed to the checkout click here.<a class="btn btn-default" href="/home/ThankYou/">Checkout</a></p>

                <p><a class="btn btn-default" href="/home/Index/">Continue Shopping</a></p>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
